html, body {
  height:100%;
  margin:0;
  width:100%;
}

body {
  background-image: url("images/background.jpg");
  display: flex;
  font-family: Roboto;
  font-size: 16px;
  margin: 0 auto;
  max-width: 1366px;
}

.container {
  margin: auto;
  position: relative;
  width: 30%;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
  margin: auto;
  padding: 50px;
}

/* Input effects */
label {
  color: #4A4D4A;
  display: block;
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.2em;
  position: absolute;
  top: 10px;
  transition: 0.2s all;
}

h2 {
  border-left: 5px solid #EF2452;
  color: #EF2452;
  display: block;
  font-size: 2em;
  font-weight: 500;
  margin: 0;
  margin-left: -50px;
  padding-left: 45px;
  text-transform: uppercase;
}

.menu-block h2 {
  color: white;
  border-left: 5px solid white;
}

.group { 
  height: 45px;
  margin-top: 60px;
  position: relative; 
}

input {
  border: none;
  border-bottom: 1px solid #E1E0E1;
  color: #4A4D4A;
  display: block;
  font-size: 1.3em;
  font-weight: 300;
  padding: 10px 0;
  width: 100%;
  outline: 0;
}

input:focus[type="password"], input:valid[type="password"] { font-size: .9em;  }

input:focus~label, input:valid~label {
  top: -20px;
  font-size: 1.1em;
  font-weight: 300;
  color: #B4B2B5;
  border-bottom: 0;
}

.menu-block input {
  background-color: #EF2452;
  color: white;
}

.menu-block label { color: white; }

.bar { 
  display: block;
  position: relative;
  width: 100%;
}

.bar:before {
  background: #EF2452; 
  content: '';
  bottom: 1px;
  height: 2px; 
  position: absolute;
  transition: 0.2s all;
  width: 0;
}

.bar:before { left: 0%; }
input:focus~.bar:before, input:focus~.bar:after { width: 100%; }

a {
  font-size: 1.2em;
  color: #E1E0E1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin-top: 50px;
  display: block;
}

a:hover { color: #EF2452; }

/* Button effects */
.button, .wrapper {
  background-color: white;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px;
  width: 60%;
  height: 20px;
  text-align: center;
  font-size: 1.2em;
}
.button {
  border: 2px solid #EEE;
  color: #EEE;
}
.menu-block .button {
  border: none;
  color: #EF2452;
  width: 90%;
}
.wrapper { border: 2px solid #EF2452; }
.wrapper:hover { cursor: pointer; }
.wrapper .color.click:after {
  transform: scale(1) translateZ(0);
  transition: all 0.7s ease;
}

.wrapper .color {
  color: #EF2452;
  position: relative;
  z-index: 2;
  text-align: center;
}

.color i { 
  display: none;
  transform: rotate(45deg);
}
.color.click {  color: white; }
.color.click span {display: none;}
.color.click i { 
  display: block;
  transform: rotate(0deg);
}
.wrapper .color:after {
  background-color: #EF2452;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  margin: -75%;
  object-fit: contain;
  padding-top: 150%;
  position: absolute;
  top: 50%;
  transform: scale(0) translateZ(0);
  transition: all 0.2s ease;
  width: 150%;
  z-index: -1;
}

.menu-block {
  background: #EF2452;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 0px rgba(50, 50, 50, 0.6);
  color: white;
  cursor: pointer;
  height: 30px;
  margin: 40px -60px;
  max-height: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  z-index: 1000;
}
.menu-block h2 {
  margin-top: 100px;
  transition: all 0.5s;
}
.menu-block.menu-active h2 {
  margin-top: 0;
}
.menu-block .bar {
  margin: 7px 0 0 2px;
  transform-origin: 50% 50%;
  width: 25px;
  height: 25px;
  position: relative;
}
.menu-block .bar .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-block.menu-active .bar {
  position: absolute;
  right: 50px;
  transform: rotate(45deg);
  transition: all 0.1s ease;
}
.degrade {
  opacity: 0.8;
  transform: scale(0.96) translateY(-18px);
  transition: all 0.1s ease;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .container { width: 407px; }
}
@media screen and (max-width: 500px) {
  .container { width: 80%; }
  .menu-block.menu-small {
    padding: 30px;
    margin-right: -20px;
  }
  .menu-block.menu-active { width: 260px !important; }
  .menu-small { width: 30px !important; }
  .menu-block h2 {
   margin-left: -30px;
   padding-left: 25px;
  }
  .menu-block.menu-active .bar { right: 30px; }
}