html, body {
  height:100%;
  margin:0;
  width:100%;
}

body {
  background-image: url("images/background.jpg");
  display: flex;
  font-family: Roboto;
  font-size: 16px;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 50px;
  width: 25%;
  margin: auto;
  box-shadow: 0 2px 5px #9B9B9B;
}

/* Input effects */
label {
  color: #4A4D4A;
  font-weight: 300;
  display: block;
  position: absolute;
  top: 10px;
  transition: 0.2s all;
  font-size: 1.2em;
  line-height: 1.2em;
}

h2 {
  color: #EF2452;
  display: block;
  font-size: 2em;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
  border-left: 5px solid #EF2452;
  margin-left: -50px;
  padding-left: 45px;
}

.group { 
  position: relative; 
  margin-top: 60px;
  height: 45px;
}

input {
  border: none;
  border-bottom: 1px solid #E1E0E1;
  color: #4A4D4A;
  display: block;
  font-size: 1.3em;
  font-weight: 300;
  padding: 10px 0;
  width: 100%;
  outline: 0;
}
input:focus[type="password"], input:valid[type="password"] { font-size: .9em;  }

input:focus~label, input:valid~label {
  top: -20px;
  font-size: 1.1em;
  font-weight: 300;
  color: #B4B2B5;
  border-bottom: 0;
}

.bar { 
  display: block;
  position: relative;
  width: 100%;
}

.bar:before {
  background: #EF2452; 
  content: '';
  bottom: 1px;
  height: 2px; 
  position: absolute;
  transition: 0.2s all;
  width: 0;
}

.bar:before { left: 0%; }
input:focus~.bar:before, input:focus~.bar:after { width: 100%; }

a {
  font-size: 1.2em;
  color: #E1E0E1;
  text-align: center;
  text-decoration: none;
  font-weight: 300;
  margin-top: 50px;
  display: block;
}
a:hover { color: #EF2452; }

/* Button effets */
.wrapper {
  background-color: white;
  border: 2px solid #EF2452;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  overflow: hidden;
  padding: 20px;
  width: 60%;
  height: 20px;
}
.wrapper:hover { cursor: pointer; }
.wrapper:hover .button-two:after {
  transform: scale(1) translateZ(0);
  transition: all 0.7s ease;
}

.button-two {
  color: #EF2452;
  font-size: 1.2em;
  position: relative;
  text-align: center;
  z-index: 2;
}
.button-two i { display: none; }
.button-two:hover {  color: white; }
.button-two:hover span {display: none;}
.button-two:hover i { display: block; }
.button-two:after {
  background-color: #EF2452;
  border-radius: 50%;
  content: "";
  height: 0;
  left: 50%;
  margin: -75%;
  object-fit: contain;
  padding-top: 150%;
  position: absolute;
  top: 50%;
  transform: scale(0) translateZ(0);
  transition: all 0.2s ease;
  width: 150%;
  z-index: -1;
}